[submodule "public"]
	path = public
	url = https://github.com/adityaSomak/somakaditya.github.io.git
[submodule "somakaditya.github.io"]
	path = somakaditya.github.io
	url = https://github.com/adityaSomak/somakaditya.github.io.git
